.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --bg-color: var(--clr-blue-purple-them-1);
  --padding: 2rem;
  
}
.container{
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: hsla(0, 100%, 100%, 0.99);
  box-shadow: var(--shadow-btm);
 
  .pick{
    padding: var(--padding);
    position: relative;
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
    width: 100%;
    background-color: var(--bg-color);
    
    span{
      cursor: pointer;
      padding: 1rem;
      border-radius: 10px;
      
    }
    .active {
        /* background-color: var(--clr-main-dark); */
        color: white;
    }
  }

  button{
    background-color: var(--bg-color);
    border: none;
    padding: 1rem;
    border-radius: 10px;
    color: white;
  }
}
.formContainer {
 padding: var(--padding);
}
.wave{
  margin-top: -1.75rem;
  fill: var(--bg-color);
  display: block;
  transform-origin: top;
  animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  
  100%{
    transform: scale(1,1);
  }
}

